[submodule "src/ncurses"]
	path = src/include/ncurses
	url = https://github.com/mirror/ncurses.git
[submodule "src/include/librender"]
	path = src/include/librender
	url = https://github.com/Hikari03/librender.git
